nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #1b2430;
    padding: 20px 80px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    position: sticky;
    z-index: 999;
    top: 0;
}

.logo > h1{
    font-size:15vw;
    font-weight: 900;
   
    

    

}
.logo  > span{
    font-size: 15vw;
    background-color:aqua;
}
    
    
    
    

.nav-items{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.home,
.about,
.blog,
.services,
.signup{
    text-decoration: none;
    list-style: none;
    padding: 0 15px;
    position: relative;
    cursor: pointer;
    font-size: 1.3rem;
    font-weight: 600;
    color: #fff;
    transition: 0.3s ease-in-out;
}

.home:hover,
.about:hover,
.blog:hover,
.services:hover,
.signup:hover{
    color: aqua;
}

.home:hover::after,
.about:hover::after,
.blog:hover::after,
.services:hover::after,
.signup:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: aqua;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

.home.active:hover{
    color: aqua;
}

.mobile{
    display: none;
    text-decoration: none;
    list-style: none;
    padding: 0 15px;
    position: relative;
    font-size: 1.3rem;
    font-weight: 600;
    color: #fff;
    transition: 0.3s ease-in-out;

}

@keyframes logo{
    
}


.logo > img{
    animation: logo 4s ease-in infinite 0.2s;
}

.logo > h1{
    font-size: 1.8rem;
    font-weight: 700;
    color: #fff;
   
}

@media screen and (max-width:800px) {

    .logo {
        justify-content:center ;
        align-self: center;
        text-align: center;
        align-items: center;
    }

    .logo > img{
        justify-content: center;
        animation: logo 4s ease-in infinite 0.2s;
    }

    .nav-items{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        background-color: #2a3239;
        top: 90px;
        right: -300px;
        min-width: 300px;
        min-height:70vh;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
        padding: 40px 0 0 10px;
    }

    .nav-items-close{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        background-color: #2a3239 ;
        border-radius: 0.2em;
        top: 70px;
        right: 0px;
        width: 80%;
        height: 80vh;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
        padding: 40px 0 0 10px;
    }
       
    
    
    
 .home,
 .about,
 .blog,
 .services,
 .signup{
    margin-bottom: 25px;
    cursor: pointer;
  }

    .mobile{
        display: inline-block;
        text-decoration: none;
        list-style: none;
        outline: none;
        border-radius: 1em;
        align-items: center;
        justify-content: center;
        padding: 0 15px;
        position: relative;
        font-size: 1.3rem;
        font-weight: 600;
        background-color: #2a3239;
        transition: 0.3s ease-in-out;
    
    }

}