:root{
  --primary-color: hsl(0, 0%, 100%);
 --secondary-color: hsl(212, 45%, 89%);
 --third-color: hsl(220, 15%, 55%);
--last-color: hsl(218, 44%, 22%);
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "outfit", sans-serif;
  
}

body {
  background-color: hsl(212, 45%, 89%);
  font-family: 'Roboto', sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;

}